<?xml version="1.0" encoding="UTF-8"?>
<launch>   
    <include file="$(find tricopter)/launch/vicon_node.launch"/>
    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2mocap" args="0 0 0 0 0 0 1 map mocap" /> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="tracking2base" args="0 0 0 0 0 0 1 tricopter_tracked base_link" /> 
    <rosparam>
        /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: tricopter_tracked
        <!-- /mavros/vision_pose/tf/rate_limit: 100 -->
    </rosparam> 
    <include file="$(find tricopter)/launch/mavros_node.launch"/>
    <rosparam>
        /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: tricopter_tracked
        <!-- /mavros/vision_pose/tf/rate_limit: 100 -->
    </rosparam>
</launch>
