<?xml version="1.0" encoding="UTF-8"?>
<launch>   
    <arg name="lidar_type" default = "ouster"/>
    <arg name="relocalize" default = "false"/>
    <arg name="map" value = "$(env HOME)/scans/scans.pcd"/>

    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_body2sensor" args="-0.13 0 -0.069 0 0 0 1 os_sensor base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_odom2camera_init" args="0 0 0 0 0 0 1 camera_init odom" />
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="transform_base2body" args="0 0 0 0 0 0 1 body base_link" /> -->

    <rosparam>
        /pcd_save/pcd_save_en: false
        <!-- /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: body -->
        <!-- /mavros/vision_pose/tf/rate_limit: 100 -->
    </rosparam> 

    <!-- <include file="$(find tricopter)/launch/flight_controller/mavros_node.launch"/> -->

    <!-- <remap from="/Odometry" to="/mavros/odometry/out"/> -->
    <!-- <rosparam>
        /pcd_save/pcd_save_en: false
        /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: body
        /mavros/vision_pose/tf/rate_limit: 100
    </rosparam> -->

    <group if="$(arg relocalize)">
        <rosparam>
            /relocalize/map_voxel_size: 0.2
            /relocalize/scan_voxel_size: 0.05
            /relocalize/freq: 0.2
            /relocalize/localization_threshold: 0.99
            /relocalize/FOV_max: 20
        </rosparam>
    </group>
    <group unless="$(arg relocalize)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2camera_init" args="0 0 0.2 0 0 0 map camera_init" />       
    </group>

    <group if="$(eval lidar_type == 'livox')">
        <include file="$(find tricopter)/launch/lidar/livox_node.launch"/>   
        <group if="$(arg relocalize)">
            <rosparam>
                /relocalize/FOV: 1.6
            </rosparam>
            <include file="$(find fast_lio_localization)/launch/localization_avia.launch">
                <arg name="map" value="$(arg map)" />
            </include>
        </group>
        <group unless="$(arg relocalize)">
            <include file="$(find fast_lio)/launch/mapping_avia.launch"/>     
        </group>
    </group>
    <group if="$(eval lidar_type == 'ouster')">
        <!-- <include file="$(find tricopter)/launch/lidar/ouster_node.launch"/> -->
        <include file="$(find ouster_ros)/launch/uav.launch"/>
        <!-- <group if="$(arg relocalize)">
            <rosparam>
                /relocalize/FOV: 6.283
            </rosparam>
            <include file="$(find fast_lio_localization)/launch/localization_ouster64.launch">
                <arg name="map" value="$(arg map)" />
            </include>
        </group>
        <group unless="$(arg relocalize)">
            <include file="$(find fast_lio)/launch/mapping_ouster64.launch"/>      
        </group> -->
    </group> 
    <group if="$(eval lidar_type == 'mid360')">
        <include file="$(find tricopter)/launch/lidar/mid360_test.launch"/>
    </group>
</launch>
