<?xml version="1.0" encoding="UTF-8"?>
<launch>   
    <arg name="lidar_type" default = "mid360"/>

    <arg name="lidar_freq" default="10" />
    <include file="$(find livox_ros_driver2)/launch_ROS1/msg_MID360.launch">
        <arg name="publish_freq" value="$(arg lidar_freq)" />
    </include>

    <include file="$(find fast_lio)/launch/mapping_avia.launch"/>

    <!-- <include file="$(find tricopter)/launch/rtabmap_test.launch"/> -->
</launch>
