<?xml version="1.0" encoding="UTF-8"?> 
<!-- Simulated Hex+delta arm -->
<launch>
    <rosparam file="$(find tricopter)/cfg/Hex_config.yaml" />

    <arg name="viz" default = "true"/>

    <group if="$(arg viz)">
        <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tricopter)/rviz/AAM.rviz"/> -->
        <node name = "my_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find tricopter)/rqt/AAM.perspective"/>
    </group>

    <node name="pathGenerator" pkg="tricopter" type="Path_generator.py" required="true" output="screen"/> 

    <node name="joystick_input_node" pkg="joy" type="joy_node" required="true" output="screen"/>
</launch>