<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- <rosparam file="$(find tricopter)/cfg/Hex_config.yaml" /> -->

    <arg name="sensor_hostname" default="10.5.5.86" doc="hostname or IP in dotted decimal form of the sensor"/>
    <arg name="lidar_port" default="7502" doc="port to which the sensor should send lidar data"/>
    <arg name="imu_port" default="7503" doc="port to which the sensor should send imu data"/>
    <arg name="lidar_mode" default="512x20" doc="resolution and rate: either 512x10, 512x20, 1024x10, 1024x20, or 2048x10"/>
    <arg name="timestamp_mode" default="TIME_FROM_PTP_1588" doc="method used to timestamp measurements: TIME_FROM_INTERNAL_OSC, TIME_FROM_SYNC_PULSE_IN, TIME_FROM_PTP_1588"/>
    <arg name="metadata" default="/home/lachie/lidar_metadata/ouster_data.json" doc="path to read or write metadata file when replaying or receiving sensor data, respectively"/>
    <arg name="tf_prefix" default="" doc="namespace for tf transforms"/>
    <arg name="udp_profile_lidar" default="LEGACY" doc="lidar packet profile: LEGACY, RNG19_RFL8_SIG16_NIR16_DUAL"/>
    <include file="$(find ouster_ros)/ouster.launch">
      <arg name="sensor_hostname" value="$(arg sensor_hostname)" />
      <arg name="lidar_port" value="$(arg lidar_port)" />
      <arg name="imu_port" value="$(arg imu_port)" />
      <arg name="lidar_mode" value="$(arg lidar_mode)" />
      <arg name="timestamp_mode" value="$(arg timestamp_mode)" />
      <arg name="metadata" value="$(arg metadata)" />
      <arg name="tf_prefix" default="" doc="namespace for tf transforms"/>
      <arg name="udp_profile_lidar" default="" doc="lidar packet profile: LEGACY, RNG19_RFL8_SIG16_NIR16_DUAL"/>
    </include> 

    <!-- <arg name="fcu_url" default="/dev/ttyTHS2:921600" /> -->
    <!-- <arg name="fcu_url" default="/dev/ttyUSB0:921600" />
    <arg name="gcs_url" default="udp-b://127.0.0.1:14555@14550" />
    <arg name="tgt_system" default="1" />
    <arg name="tgt_component" default="1" />
    <arg name="log_output" default="screen" />
    <include file="$(find mavros)/launch/node.launch">
      <arg name="pluginlists_yaml" value="$(find mavros)/launch/px4_pluginlists.yaml" />
      <arg name="config_yaml" value="$(find mavros)/launch/px4_config.yaml" />
      <arg name="fcu_url" value="$(arg fcu_url)" />
      <arg name="gcs_url" value="$(arg gcs_url)" />
      <arg name="tgt_system" value="$(arg tgt_system)" />
      <arg name="tgt_component" value="$(arg tgt_component)" />
      <arg name="log_output" value="$(arg log_output)" /> -->
      <!--arg name="fcu_protocol" value="$(arg fcu_protocol)" /-->
      <!--arg name="respawn_mavros" default="$(arg respawn_mavros)" /-->
    <!-- </include> -->

  <!-- <node name="Lidar_msg_stamper" pkg="tricopter" type="lidar_stamper.py" required="true" output="screen"/> -->
  <!-- <node name="Lidar_msg_converter" pkg="tricopter" type="Lidar_msg_converter.py" required="true" output="screen"/> -->
  <!-- <include file="$(find aloam_velodyne)/launch/aloam_velodyne_OS1-64.launch"/> -->

  <!-- <remap from="/imu/data_raw" to="/mavros/imu/data_raw"/>
  <remap from="/imu/mag" to="/mavros/imu/mag"/>
  <node pkg="imu_complementary_filter" type="complementary_filter_node"
      name="complementary_filter_gain_node" output="screen">
    <param name="do_bias_estimation" value="true"/>
    <param name="do_adaptive_gain" value="true"/>
    <param name="use_mag" value="true"/>
    <param name="gain_acc" value="0.01"/>
    <param name="gain_mag" value="0.01"/>
  </node> -->
  
  <!-- <node name="Lidar_msg_converter" pkg="tricopter" type="Lidar_msg_converter.py" required="true" output="screen"/>   !-->
  <!-- <include file="$(find aloam_velodyne)/launch/aloam_velodyne_OS1-64.launch"/> !-->
  <!-- <include file="$(find lio_sam)/launch/run.launch"/> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_body2sensor" args="0 0 0 0 0 0 1 body os_sensor" />

  <include file="$(find fast_lio_localization)/launch/mapping_ouster64.launch"/>
  <!-- <include file="$(find aloam_velodyne)/launch/fastlio_ouster64.launch"/> -->
  </launch>
  