<?xml version="1.0" encoding="UTF-8"?>
<launch>   
    <arg name="lidar_type" default = "livox"/>
    <arg name="relocalize" default = "false"/>
    <arg name="map" value = "$(env HOME)/scans/scans.pcd"/>

    <include file="$(find tricopter)/launch/static_transforms.launch"/>
    <rosparam>
        /pcd_save/pcd_save_en: false
        /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: base_link
        /mavros/vision_pose/tf/rate_limit: 100
    </rosparam> 
    <include file="$(find tricopter)/launch/mavros_node.launch"/>

    <rosparam>
        /relocalize/map_voxel_size: 0.2
        /relocalize/scan_voxel_size: 0.05
        /relocalize/freq: 0.2
        /relocalize/localization_threshold: 0.99
        /relocalize/FOV_max: 20
    </rosparam>

    <group if="$(eval lidar_type == 'livox')">
        <include file="$(find tricopter)/launch/livox_node.launch"/>   
        <group if="$(arg relocalize)">
            <rosparam>
                /relocalize/FOV: 1.6
            </rosparam>
            <include file="$(find fast_lio_localization)/launch/localization_avia.launch">
                <arg name="map" value="$(arg map)" />
            </include>
        </group>
        <group unless="$(arg relocalize)">
            <include file="$(find fast_lio)/launch/mapping_avia.launch"/>
            <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2camera_init" args="0 0 0 0 0 0 map camera_init" />       
        </group>
    </group>
    <group if="$(eval lidar_type == 'ouster')">
        <include file="$(find tricopter)/launch/ouster_node.launch"/>
        
        <group if="$(arg relocalize)">
            <rosparam>
                /relocalize/FOV: 6.283
            </rosparam>
            <include file="$(find fast_lio_localization)/launch/localization_ouster64.launch">
                <arg name="map" value="$(arg map)" />
            </include>
        </group>
        <group unless="$(arg relocalize)">
            <include file="$(find fast_lio)/launch/mapping_ouster64.launch"/>
            <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2camera_init" args="0 0 0 0 0 0 map camera_init" />       
        </group>
    </group>

    <rosparam>
        /pcd_save/pcd_save_en: false
        /mavros/vision_pose/tf/listen: true
        /mavros/vision_pose/tf/frame_id: map
        /mavros/vision_pose/tf/child_frame_id: base_link
        /mavros/vision_pose/tf/rate_limit: 100
    </rosparam>
</launch>
