<?xml version="1.0" encoding="UTF-8"?> 
<launch>
    <arg name="bag" default = "true"/>
  
    <!-- todo: include base_link to stewart_base transform here:-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2print" args="0 0 0.5 1.570796 0 1.570796 map printing_plane" />

    <include file="$(find tricopter)/launch/lidar_mapping.launch">
        <arg name="lidar_type" default = "ouster"/>
        <arg name="relocalize" default = "false"/>
    </include>

    <!-- <include file="$(find tricopter)/launch/geometric_controller.launch"/> -->

    <include file="$(find delta_2)/launch/stabilise.launch">
        <arg name="sim" value="false"/>
    </include>

    <include file="$(find tricopter)/launch/usb_cam.launch"/> 

    <group if="$(arg bag)">
        <node pkg="rosbag" type="record" name="rosbag_record" args="-o $(env HOME)/bags/ -e '(.*)mavros(.*)' /os_cloud_node/points '(.*)mocap(.*)'"/>
    </group>
</launch>