<?xml version="1.0" encoding="UTF-8"?> 
<!-- Simulated Hex+delta arm -->
<launch>
    <rosparam file="$(find tricopter)/cfg/Hex_config.yaml" />
  <arg name="sim" default="true"/>
  <arg name="viz" default = "true"/>

  <include file="$(find tricopter)/launch/stabilisation.launch"/>

  <include file="$(find tricopter)/launch/static_transforms.launch"/>
  
  <group if="$(arg sim)">
    <param name="model_name" value="Hex_delta"/>
    <include file="$(find tricopter)/launch/spawn_gazebo.launch"/>
  </group>

  <!-- MAVROS -->
      <!-- MAVROS configs -->
      <arg name="fcu_url" default="udp://:14540@localhost:14557"/>
      <arg name="respawn_mavros" default="false"/>
  <include file="$(find mavros)/launch/px4.launch">
    <arg name="gcs_url" value=""/>
    <arg name="fcu_url" value="$(arg fcu_url)"/>
    <arg name="respawn_mavros" value="$(arg respawn_mavros)"/>
  </include>

  <group if="$(arg viz)">
    <!-- <node type="rviz" name="rviz" pkg="rviz" args="-d $(find tricopter)/rviz/AAM.rviz"/> -->
    <node name = "my_rqt_dashboard" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" args = "--perspective-file $(find tricopter)/rqt/AAM.perspective"/>
  </group>

  <node name="pathGenerator" pkg="tricopter" type="Path_generator.py" required="true" output="screen"/> 

  <node name="pathFollower" pkg="tricopter" type="Path_follower.py" required="true" output="screen"/> 

  <node name="joystick_input_node" pkg="joy" type="joy_node" required="true" output="screen"/>

  <!-- <param name="mavros/vision_pose/tf/frame_id" value="camera_init" />
  <param name="mavros/setpoint_position/tf/frame_id" value="camera_init" />
  <param name="mavros/local_position/tf/frame_id" value="camera_init" />
  <param name="mavros/global_position/tf/frame_id" value="camera_init" />
  <param name="mavros/local_position/frame_id" value="camera_init" />
  <param name="mavros/global_position/frame_id" value="camera_init" />
  <param name="mavros/local_position/tf/send" value="True" /> -->
</launch>