<?xml version="1.0" encoding="UTF-8"?> 
<launch>
  <include file="$(find motion_capture_system/mocap_vicon)/launch/vicon.launch" />
  <rosparam file="$(find tricoper)/cfg/vicon_config.yaml" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_map2mocap" args="0 0 0 0 0 0 1 map mocap" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="transform_hex2base_link" args="0 0 0 0 0 0 1 hexacopter base_link" />
</launch>